.cum{
    padding-top: 112px;
    padding-bottom: 155px;
    background-color: #11749e;
    &-img{
        height: 66px;
        margin-top: 4px;
    }
    &-text{
        line-height: 1.5;
        margin-right: 19px;
        margin-left: 10px;
        color: #ffffff;
        font-weight: 400;
        font-size: 15px;
        font-family: "GothamBook", sans-serif;
    }
}
