.cum{
    background-color: #11749e;
    &-connet {
        display: flex;
        align-items: center;
        gap: 33px;
        margin-top: 112px;
    }
   &-img{
    margin-bottom:206px;
   }
    &-text{
        color: #ffffff;
        margin-bottom:153px;
        font-size: 15px;
        line-height: 20px;
        font-family: 'GothamBook', sans-serif;
    }
}