.footer{
    background-image: url(./image/footer.png);
    background-color: black;
    &-copyright {
        color: white;
        font-family: "RobotoCondensed", sans-serif;
        font-size: 13px;
        margin-top: 42px;
        margin-bottom: 32px;
        margin-left: -39px;
    }
}

