footer{
    background-color: black;
    // &-relative {
    //     color: white;
    //     font-family: "RobotoCondensed", sans-serif;
    //     font-size: 13px;
    //     margin-top: 49px;
    //     margin-bottom: 30px;
    // }
}
.footer-relative {
    color: white;
    font-family: "RobotoCondensed", sans-serif;
    font-size: 13px;
    margin-top: 49px;
    margin-bottom: 30px;
}