.d-flex{
    display: flex;
}
.flex-align{
    display: flex;
    align-items: center;
}
.relative {
    position: relative;
}
.text {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'GothamMedium', sans-serif;
    margin-bottom: 30px;
}
.desc{
    color: #fff;
    line-height: 1.5;
    font-size: 15px;
    font-family: 'GothamBook', sans-serif;

}
.heading {
    font-size: 247px;
    text-align: center;
    font-family: 'BoldCondensed', sans-serif;
    color: #5993b2;
    font-weight: 400;
    margin-bottom: -127px;
}
.heading1 {
    font-size: 247px;
    text-align: center;
    font-family: 'RobotoCondensed', sans-serif;
    color: #e2e2e2;
    font-weight: 400;
    margin-bottom: -127px;
}