.header {
    background: transparent;
    border-bottom: 1px solid;
    padding-top: 19px;
    width: 100%;
    background-image: url(./image/header.png);
    z-index: 1;
    &-top{
        border-bottom: 1px solid #a7a7a7;
        padding-bottom: 16px;
    }
    &-icon{
        display: flex;
        align-items: center;
        gap: 0 23px;
        margin-bottom: -11px;
        margin-left: 40px;
    }
}
