header {
    padding-bottom: 15px;
    background: transparent;
    border-bottom: 1px solid;
    padding-top: 22px;
    width: 100%;
    background-image: url(./image/header.png);
    z-index: 1;
    &-top{
        border-bottom: 1px solid white;
    }
}
