@media (max-width: 1200px) {
    .header-icon {
        margin-left: 20px;
    }
    .menu-main {
        margin-left:-120px;
    }
    a.menu-link-mobile {
        display: none;
    }
}

@media (max-width: 1022) {
    .logo {
        margin-left: -53px;
    }
}
@media (max-width: 1110px) {
    .header-icon {
        margin-left: 26px;
    }
    .main-menu {
        margin-left: 73.1px;
    }
    .menu-main {
        margin-left: -151px;
    }
    .creative-title {
        font-size: 7em;
    }
    .creative-text {
        font-family: "Gotham";
        font-size: 0.9em;
    }
    .menu-link {
        font-size: 13px;
    }
    .header-icon {
        margin-left: -9px;
    }
}
@media (max-width: 991px) {
    .header-icon {
        margin-left: 20px;
    }
   
    .menu-main {
        margin-left: -219px;
    }
    .logo {
        margin-left: -64px;
    }


}
@media (max-width: 938px) {
   .creative {
    padding-top: 126px;
}
.header-icon {
    margin-left: -8px;
}
.logo {
    margin-left: -64px;
    align-items: center;
    justify-content: space-between;
}
.creative-text {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 11.9px;
}

.menu-main {
    margin-left: -219px;
}
.footer-copyright {
    text-align: center;
}
.akita-left {
    padding-bottom: 73px;
    padding-left: 47px;
    padding-top: 82px;
}   
.dog-rghit {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 75px;
}
.cum {
    padding-top: 37px;
    padding-bottom: 0px;
    background-color: #11749e;
}

}

@media (max-width: 767px) {
    .main-menu {
        display: none;
    }
    .agenry-wrapper {
        margin-top: -31px;
    }
   
    .creative {
        padding-top: 121px;
    }
    .creative-title {
        font-size: 5em;
    }
    .creative-text {
        line-height: 32px;
        font-size: 1.2em;
    }
    .agenry-col {
        flex: 0 0 50%;
        margin-bottom: 33px;
        max-width: 50%;
    }
    .agenry {
        padding-top: 38px;
    }
    .agenry-title {
        font-size: 22px;
    }
    .blog-text {
        font-size: 13px;
    }
    .cum-text {
        margin-left: 43px;
    }
    .logo {
        margin-left: -4px;
    }
    .akita{
        flex-direction: column;
    }
    .menu-right {
        display: none;
    }
    .main-menu {
        position: absolute;
        width: 100%;
        height: auto;
        background: #FFFFFF;
        right: -69px;
        text-align: left !important;
        display: none;
        transition: top 0.4s;
        -webkit-transition: top 0.4s;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        padding-bottom: 15px;
        top: 7px;
        margin-left: 0px;
        z-index: 1;
    }
    .main-menu {
        position: fixed;
        height: 100vh;
        right: 0px;
        top: -7px;
        z-index: 1;
    }
    .menu-main li {
        display: block;
        padding: 0px 0px !important;
        width: 100%;

    }   
     .menu-main a {
        padding: 11px 0px;
        color: black;
    }
    .menu-left{
        padding: 0px 20px;
        padding-top: 14px;
    }
    .menu-link::after{
        content: none;
    }
    a.menu-link.active {
        color: #17749e;
    }
}
@media (max-width: 630px) {
    .creative-text {
        line-height: 32px;
        font-size: 1.2em;
        letter-spacing: 10px;
    }
}
@media (max-width: 485px) {
    .creative-title {
        font-size: 3.5em;
    }
    .logo {
        margin-left: 0px;
    }
    .menu-right {
        display: none;
    }
}
