@media (max-width: 1200px) {
    .header-icon {
        margin-left: 20px;
    }
    .menu-main {
        margin-left:-100px;
    }
    a.menu-link-mobile {
        display: none;
    }
}

@media (max-width: 1022) {
    .logo {
        margin-left: -53px;
    }
}
@media (max-width: 1110px) {
    .header-icon {
        margin-left: 26px;
    }
    .menu-main {
        margin-left: -151px;
    }
    .creative-title {
        font-size: 8em;
    }
    a.menu-link-mobile {
        display: none;
    }
}
@media (max-width: 991px) {
    .header-icon {
        margin-left: 20px;
    }
  
    .menu-main {
        margin-left: -151px;
    }

}
@media (max-width: 938px) {
   .creative {
    padding-top: 126px;
}
.main-menu {
    display: none;
}
.creative-text {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 11.9px;
}
.header-icon {
    margin-left: 20px;
}
}

@media (max-width: 767px) {
    .main-menu {
        display: none;
    }
    .menu-toggle{
        display: subgrid;
        justify-content: space-between;
        flex-direction: column;
    }
    .creative {
        padding-top: 121px;
    }
    .creative-title {
        font-size: 5em;
    }
    .creative-text {
        line-height: 32px;
        font-size: 1.2em;
    }
    .agenry-col {
        flex: 0 0 50%;
        margin-bottom: 33px;
        max-width: 50%;
    }
    .agenry {
        padding-top: 38px;
    }
    .agenry-title {
        font-size: 22px;
    }
    .blog-text {
        font-size: 13px;
    }
    .cum-text {
        margin-left: 43px;
    }
    .logo {
        margin-left: -4px;
    }
    .akita{
        flex-direction: column;
    }
}
@media (max-width: 630px) {
    .creative-text {
        line-height: 32px;
        font-size: 1.3em;
        letter-spacing: 10px;
    }
}
@media (max-width: 485px) {
    .creative-title {
        font-size: 3.5em;
    }
    .logo {
        margin-left: 0px;
    }
   
}
